In [1]:
import pandas as pd

## 加载 ISO

In [3]:
iso = pd.read_csv('Data1/processed/iso.csv',index_col=0).reset_index()
iso.head(3)

,name,alpha-2,alpha-3,country-code,iso_3166-2,region,sub-region,intermediate-region,region-code,sub-region-code,intermediate-region-code
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,NaN,142.0,34.0,NaN
1,Åland Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe,NaN,150.0,154.0,NaN
2,Albania,AL,ALB,8,ISO 3166-2:AL,Europe,Southern Europe,NaN,150.0,39.0,NaN

## 处理 Population/GDP

In [10]:
ppl_gdp = pd.read_excel('Data1/processed/ppl_gdp.xlsx')
ppl_gdp.head(3)

  CountryName CountryCode  year       人口  gdp  人均gdp
0         阿鲁巴         ABW  1960  54608.0  NaN    NaN
1         阿鲁巴         ABW  1961  55811.0  NaN    NaN
2         阿鲁巴         ABW  1962  56682.0  NaN    NaN

In [12]:
# 用 map 快速添加列（需确保 CountryCode 是唯一键）
eng_name_map = iso.set_index("alpha-3")["name"].to_dict()
ppl_gdp["name"] = ppl_gdp["CountryCode"].map(eng_name_map)
'''
表链接方法
ppl_gdp_with_name = pd.merge(
    ppl_gdp,
    iso[["alpha-3", "name"]], 
    left_on="CountryCode",
    right_on="alpha-3",
    how="left"
)
ppl_gdp_with_name
'''
ppl_gdp.head()

  CountryName CountryCode  year       人口  gdp  人均gdp   name
0         阿鲁巴         ABW  1960  54608.0  NaN    NaN  Aruba
1         阿鲁巴         ABW  1961  55811.0  NaN    NaN  Aruba
2         阿鲁巴         ABW  1962  56682.0  NaN    NaN  Aruba
3         阿鲁巴         ABW  1963  57475.0  NaN    NaN  Aruba
4         阿鲁巴         ABW  1964  58178.0  NaN    NaN  Aruba

In [21]:
# 删除 eng_name 缺失的行
ppl_gdp_cleaned = ppl_gdp.dropna(subset=["name"])

# 检查剩余数据
print(f"原始数据行数: {len(ppl_gdp)}")
print(f"清理后行数: {len(ppl_gdp_cleaned)}")
print("缺失的国家代码:", ppl_gdp[ppl_gdp["name"].isna()]["CountryCode"].unique())

原始数据行数: 17024
清理后行数: 13760
缺失的国家代码: ['AFE' 'AFW' 'ARB' 'CEB' 'CHI' 'CSS' 'EAP' 'EAR' 'EAS' 'ECA' 'ECS' 'EMU'
 'EUU' 'FCS' 'HIC' 'HPC' 'IBD' 'IBT' 'IDA' 'IDB' 'IDX' 'INX' 'LAC' 'LCN'
 'LDC' 'LIC' 'LMC' 'LMY' 'LTE' 'MEA' 'MIC' 'MNA' 'NAC' 'OED' 'OSS' 'PRE'
 'PSS' 'PST' 'SAS' 'SSA' 'SSF' 'SST' 'TEA' 'TEC' 'TLA' 'TMN' 'TSA' 'TSS'
 'UMC' 'WLD' 'XKX']

In [24]:
gdp_df = ppl_gdp_cleaned.pivot(index="name", columns="year", values="gdp").reset_index()
gdp_df

year,name,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.049713e+10,1.913422e+10,1.811657e+10,1.875346e+10,1.805322e+10,1.879944e+10,1.995593e+10,1.426650e+10,1.450216e+10,NaN
1,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.322815e+10,1.138685e+10,1.186120e+10,1.301973e+10,1.515642e+10,1.540183e+10,1.516273e+10,1.793057e+10,1.891638e+10,2.297768e+10
2,Algeria,2.723615e+09,2.434747e+09,2.001445e+09,2.702982e+09,2.909316e+09,3.136284e+09,3.039859e+09,3.370870e+09,3.852147e+09,...,2.389427e+11,1.874939e+11,1.807638e+11,1.898809e+11,1.945545e+11,1.934597e+11,1.648734e+11,1.862654e+11,2.255603e+11,2.398995e+11
3,American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.430000e+08,6.730000e+08,6.710000e+08,6.120000e+08,6.390000e+08,6.470000e+08,7.210000e+08,7.500000e+08,8.710000e+08,NaN
4,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.271686e+09,2.789881e+09,2.896610e+09,3.000162e+09,3.218420e+09,3.155149e+09,2.891001e+09,3.324683e+09,3.380602e+09,3.727674e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,Virgin Islands (British),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
211,Virgin Islands (U.S.),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.565000e+09,3.663000e+09,3.798000e+09,3.794000e+09,3.923000e+09,4.121000e+09,4.189000e+09,4.444000e+09,NaN,NaN
212,Yemen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.322859e+10,4.244449e+10,3.131783e+10,2.684223e+10,2.160616e+10,NaN,NaN,NaN,NaN,NaN
213,Zambia,7.130000e+08,6.962857e+08,6.931429e+08,7.187143e+08,8.394286e+08,1.082857e+09,1.264286e+09,1.368000e+09,1.605857e+09,...,2.714102e+10,2.125122e+10,2.095841e+10,2.587360e+10,2.631151e+10,2.330867e+10,1.813776e+10,2.209642e+10,2.916378e+10,2.816263e+10
214,Zimbabwe,1.052990e+09,1.096647e+09,1.117602e+09,1.159512e+09,1.217138e+09,1.311436e+09,1.281750e+09,1.397002e+09,1.479600e+09,...,1.949552e+10,1.996312e+10,2.054868e+10,1.758489e+10,3.415607e+10,2.183223e+10,2.150970e+10,2.837124e+10,2.736663e+10,2.653827e+10

population_df = ppl_gdp_cleaned.pivot(index="name", columns="year", values="人口").reset_index()
population_df

In [27]:
# gdp_df.to_csv("Data1/final/GDP.csv")
# population_df.to_csv("Data1/final/population.csv")

## 处理 Surface

In [7]:
surface = pd.read_csv('BuiltSurfaceCalc/surface_results/surface_statistics_iso_summary.csv')
surface.head(3)

  ISO_A3  year    total_vol    total_fp  building_height  total_surface_area
0    ABW  1975  315297690.0  44462220.0         7.091362        4.465136e+07
1    ABW  1980  452264100.0  63048360.0         7.173289        6.327619e+07
2    ABW  1985  619665750.0  85965000.0         7.208349        8.623234e+07

In [8]:
# 用 map 快速添加列（需确保 CountryCode 是唯一键）
eng_name_map = iso.set_index("alpha-3")["name"].to_dict()
surface["Countries"] = surface["ISO_A3"].map(eng_name_map)
surface.head()

,ISO_A3,year,total_vol,total_fp,building_height,total_surface_area,Countries
0,ABW,1975,3.152977e+08,44462220.0,7.091362,4.465136e+07,Aruba
1,ABW,1980,4.522641e+08,63048360.0,7.173289,6.327619e+07,Aruba
2,ABW,1985,6.196658e+08,85965000.0,7.208349,8.623234e+07,Aruba
3,ABW,1990,1.031746e+09,146057910.0,7.063950,1.463994e+08,Aruba
4,ABW,1995,1.370479e+09,187203270.0,7.320808,1.876039e+08,Aruba

In [9]:
surface_df = surface.pivot(index="Countries", columns="year", values="total_surface_area").reset_index()
surface_df

year,Countries,1975,1980,1985,1990,1995,2000,2005,2010,2015,2020,2025,2030
0,NaN,6.226227e+08,6.579888e+08,6.940508e+08,7.307209e+08,8.214471e+08,9.173901e+08,1.073983e+09,1.241683e+09,1.401808e+09,1.506708e+09,1.591088e+09,1.646712e+09
1,Afghanistan,2.978103e+09,3.336122e+09,3.841728e+09,4.448699e+09,4.839818e+09,5.355868e+09,5.915871e+09,6.710237e+09,7.729995e+09,9.026528e+09,9.706304e+09,1.012113e+10
2,Albania,1.580529e+09,1.706531e+09,1.834808e+09,1.965241e+09,2.229578e+09,2.516996e+09,2.798303e+09,3.094509e+09,3.376387e+09,3.569360e+09,3.688945e+09,3.761773e+09
3,Algeria,1.554002e+10,1.697822e+10,1.845461e+10,1.996619e+10,2.206539e+10,2.429731e+10,2.667429e+10,2.920255e+10,3.166725e+10,3.362541e+10,3.446683e+10,3.505384e+10
4,American Samoa,2.946184e+07,3.579391e+07,4.254396e+07,4.980518e+07,5.205939e+07,5.432036e+07,5.632584e+07,5.839302e+07,6.023737e+07,6.134699e+07,6.134699e+07,6.194142e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...
243,Western Sahara,1.433315e+08,1.510903e+08,1.589644e+08,1.669405e+08,1.874735e+08,2.110830e+08,2.298211e+08,2.507288e+08,2.720634e+08,2.895921e+08,2.941870e+08,2.974021e+08
244,Yemen,1.372310e+09,1.635154e+09,2.004048e+09,2.449245e+09,2.628304e+09,2.845291e+09,3.011405e+09,3.217574e+09,3.483465e+09,3.910100e+09,4.124831e+09,4.278286e+09
245,Zambia,5.674657e+09,6.773531e+09,8.271349e+09,9.992742e+09,1.089553e+10,1.208736e+10,1.356101e+10,1.566030e+10,1.816533e+10,2.057666e+10,2.279706e+10,2.424510e+10
246,Zimbabwe,7.266923e+09,8.397212e+09,9.911628e+09,1.163366e+10,1.289194e+10,1.476431e+10,1.692016e+10,2.087747e+10,2.731732e+10,3.980634e+10,4.777841e+10,5.272466e+10
247,Åland Islands,2.495828e+07,2.688008e+07,2.883486e+07,3.083243e+07,3.399011e+07,3.729411e+07,4.033363e+07,4.355249e+07,4.660727e+07,4.868725e+07,5.049732e+07,5.170320e+07